<hr align="left" width="400" color="Green">

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div style="margin-left: 100px;">


      <div>{{ form_row(form.title)}}<br></div>
           {{ form_row(form.descript_status)}}<br>
           {{ form_row(form.save)}}


      </div>


{{ form_end(form) }}

<hr align="left" width="400" color="Green">